.slide-wrapper {
    text-align: -webkit-center;
}

.each-slide {
    cursor: pointer;
}

@media (max-width: 767px) {
    .each-slide {
        width: 100vw;
    }
}

@media (min-width: 768px) {
    .each-slide {
        width: 70vw;
    }
}