.slide-wrapper {
    text-align: -webkit-center;
}

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

@media (max-width: 767px) {
    .each-slide > div {
        width: 350px;
        height: 63px;
    }
}

@media (min-width: 768px) {
    .each-slide > div {
        width: 700px;
        height: 126px;
    }
}